<div id="side-nav" class="h-full w-full flex flex-col justify-between">
  <div>
    <fc-side-nav-item
      itemImageName="dashboard"
      itemName="Dashboard"
    ></fc-side-nav-item>
    <fc-side-nav-item
      itemImageName="events"
      itemName="Events"
    ></fc-side-nav-item>
    <fc-side-nav-item
      itemImageName="organisation"
      itemName="Organisations"
    ></fc-side-nav-item>
    <fc-side-nav-item
      itemImageName="profile"
      itemName="Profile"
    ></fc-side-nav-item>
  </div>
  <fc-side-nav-item itemImageName="logout" itemName="Logout"></fc-side-nav-item>
</div>
