<div class="w-max">
  <p class="text-[#878787] font-bold text-sm pb-3">{{ title }}</p>
  <table class="table-auto min-w-[830px] drop-shadow-md">
    <thead class="bg-gray-200 border-b">
      <tr>
        <th
          scope="col"
          class="text-sm font-medium text-[#020071] px-6 py-4 text-left"
        >
          #
        </th>
        <th
          scope="col"
          class="text-sm font-medium text-[#020071] px-6 py-4 text-left"
        >
          Organisation Name
        </th>
        <th
          scope="col"
          class="text-sm font-medium text-[#020071] px-6 py-4 text-left"
        >
          Organisation Contact
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100"
      >
        <td
          class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
        >
          1
        </td>
        <td
          class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
        >
          Malcolm Lockyer
        </td>
        <td
          class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
        >
          1961
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="flex space-x-2 justify-center my-10 pagination-Container">
    <a href="#" class="group">
      <li
        class="active w-10 h-10 text-gray-800 grid place-items-center rounded-md transition duration-300 ease-in-out border lg:border-1 border-[#020071] group-hover:bg-[#020071]"
      >
        <span class="text-[#020071] font-medium group-hover:text-slate-200"
          >1</span
        >
      </li>
    </a>

    <a href="#" class="group">
      <li
        class="w-10 h-10 text-gray-800 grid place-items-center rounded-md transition duration-300 ease-in-out border lg:border-1 border-[#020071] group-hover:bg-[#020071]"
      >
        <span class="text-[#020071] font-medium group-hover:text-slate-200"
          >2</span
        >
      </li>
    </a>
    <a href="#" class="group">
      <li
        class="w-10 h-10 text-gray-800 grid place-items-center rounded-md transition duration-300 ease-in-out border lg:border-1 border-[#020071] group-hover:bg-[#020071]"
      >
        <span class="text-[#020071] font-medium group-hover:text-slate-200"
          >3</span
        >
      </li>
    </a>

    <a href="#" class="group">
      <li
        class="w-10 h-10 text-gray-800 grid place-items-center rounded-md transition duration-300 ease-in-out border lg:border-1 border-[#020071] group-hover:bg-[#020071]"
      >
        <span class="text-[#020071] font-medium group-hover:text-slate-200"
          >4</span
        >
      </li>
    </a>
  </ul>
</div>
