<p class="text-[#878787] font-bold text-xl pb-9">Dashboard</p>

<section id="cards" class="grid grid-cols-4 gap-6">
  <fc-card
    title="Org 1"
    description="something fancy"
    [items]="organisations"
  ></fc-card>
  <fc-card
    title="Org 1"
    description="something fancy"
    [items]="organisations"
  ></fc-card>
  <fc-card
    title="Org 1"
    description="something fancy"
    [items]="organisations"
  ></fc-card>
  <fc-card
    title="Org 1"
    description="something fancy"
    [items]="organisations"
  ></fc-card>
</section>

<section id="table" class="flex items-center justify-between mt-9">
  <fc-table title="Organisation" [items]="organisations"></fc-table>
  <fc-table title="Events"></fc-table>
</section>

<section id="graph" class="flex items-center justify-around mt-9">
  <fc-graph></fc-graph>
  <fc-bar-graph></fc-bar-graph>
</section>
